:host {
  display: flex;
  padding: 16px;
  background-color: #1da1f2;
  justify-content: space-between;
  align-items: center;
  header {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
  }
  
}
