:host {
  display: flex;
  padding: 16px 10px;  
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  background-color: #f2f2f2; 
  footer {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-self: flex-end;
    column-gap: 8px;
  }
}
