<ng-container *ngIf="employeeListCount$ | async; else noDataFound">
  <main>
    <div class="title-container">
      <header>Current Employees</header>
    </div>
    <ng-container *ngIf="currentEmployeeListCount$ | async; else noSelectedDataFound">
     
      <mat-card *ngFor="let employee of currentEmployeeLists$ | async">
        <mat-card-header>
          <mat-card-title class="employee-name">{{
            employee.name | titlecase
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="info-container">
            <p class="designation">{{ employee.designation }}</p>
            <p class="joining-date">{{ employee.startDate | momentDate }}</p>
          </div>
          <div class="button-container">
            <button
              mat-icon-button
              color="primary"
              aria-label="edit icon"
              routerLink="/employee/edit/{{ employee.id }}"
            >
              <mat-icon class="mat-icon-rtl-mirror">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              aria-label="delete icon"
              (click)="deleteEmployee(employee.id)"
            >
              <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <!--will do reusable template-->
    <div class="title-container">
      <header>Previous Employees</header>
    </div>
    <ng-container *ngIf="previousEmployeeListCount$ | async; else noSelectedDataFound">
      
      <mat-card *ngFor="let employee of previousEmployeeLists$ | async">
        <mat-card-header>
          <mat-card-title class="employee-name">{{
            employee.name | titlecase
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="info-container">
            <p class="designation">{{ employee.designation }}</p>
            <p class="joining-date">{{ employee.endDate | momentDate }}</p>
          </div>
          <div class="button-container">
            <button
              mat-icon-button
              color="primary"
              aria-label="edit icon"
              routerLink="/employee/edit/{{ employee.id }}"
            >
              <mat-icon class="mat-icon-rtl-mirror">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              aria-label="delete icon"
              (click)="deleteEmployee(employee.id)"
            >
              <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </main>
</ng-container>
<app-footer class="list-footer">
  <a
    mat-button
    color="primary"
    aria-label="add icon"
    routerLink="/employee/add"
  >
    <mat-icon class="add-icon">add_box</mat-icon>
  </a>
</app-footer>

<ng-template #noDataFound>
  <div class="no-data-found">
    <img src="/assets/nodata.svg" alt="No Data Found" />
  </div>
</ng-template>
<ng-template #noSelectedDataFound>
  <div class="no-selected-data-found">
    <img src="/assets/nodata.svg" alt="No Data Found" />
  </div>
</ng-template>
