:host {
    display: grid;
    grid-auto-rows: 1fr auto;
    max-height: 100vh;
    overflow: hidden;
    .employee-form {
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 100vh;
        overflow: hidden;
        .date-range {
            display: flex;
            justify-content: flex-start;
            column-gap: 10px;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}