// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$blue-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
$theme-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
  )
);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
@include mat.all-component-themes($theme-theme);

.mat-mdc-icon-button svg,
.mat-mdc-icon-button img {
  width: auto !important;
  height: auto !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 4px !important;
}

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper,
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 4px !important;
}

.mat-mdc-icon-button svg,
.mat-icon {
  color: #1da1f2;
}
.cancel-button{
    .mdc-button__ripple {
        background-color: #EDF8FF;
    }
    .mdc-button__label {
        color: #1da1f2;
      }
}
.mat-mdc-card {
    position: relative;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none!important;
    border-bottom: #EDF8FF 1px solid!important;
}

